{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <body>
    <div class="row">
      <aside class="col-12 col-md-3">
        {% load static %} 
        <img src="{% static "img/author_homework_place.jpg" %}" width="300" height="200">
      </aside>
      <article class="col-12 col-md-9">
        <h1>Привет, я автор</h1>
        <p>
          Рада приветствовать вас на нашем сайте! Меня зовут Оксана, и я автор данного сайта. Я не всегда была программистом. Более 15 лет я проработала в банковской сфере. Имею два высших образования (экономической и техническое). Я давно задумывалась о том, что в профессиональном плане хочу чего-то иного.  И тогда я начала поиски себя. Изучив массу профессиональных направлений деятельности, а также вспомнив, что в школе и институте мне лучше всего давались точные науки, в частности математика, я остановилась на программировании. Пройдя вводный курс ЯндексПрактикума по курсу «Python-разработчик», а также изучив разные источники в сети, я остановилась на языке программирования Python. Так я начала свой увлекательный путь в мир программирования. 
        </p>
      </article>
    </div>
    <article>
    <p>
    </p>
    <p>
      Это был интересный, хотя и очень непростой путь… От «я всё могу, я - властелин программирования!» настроение менялось на «зачем я всё это делаю, мне никогда не стать приличным программистом». И не смотря на это, я по-прежнему остаюсь верна выбранному пути! Прошу не судить строго: этот сайт – мой дебютный проект в качестве Python-разработчика.
    </p>
    <p>
      Я хочу выразить огромную благодарность моей семье за поддержку в этот непростой период: мужу Владиславу, которому зачастую приходилось готовить ужин самому, дочери Анастасии за то, что я не всегда могла помочь с выполнением школьных домашних заданий, а также своему питомцу, коту Кокосу, который помогал мне снимать стресс и «перезагрузиться» в тупиковых ситуациях во время работы над созданием данной социальной сети. Надеюсь мои труды и лишения моих близких остались ненапрасными, и данный сайт придется вам по душе.
    </p>
    <p>
      Желаю вам приятного общения и интересного времяпровождения на нашем сайте социальной сети Yatube!
    </p>
    <p>

    </p>
    </article>
    <hr>
    P.S.: Если вы хотите узнать обо мне больше, вы можете это сделать здесь:
    <br><a target="_blank" href="https://samara.hh.ru/resume/b9101803ff0c756c600039ed1f413562474146">Мое резюме</a>
    <br><a target="_blank" href="https://vk.com/id414297543">Моя страница в ВКонтакте</a>
    <p>

    </p>       
  </body>  
{% endblock %}
